.form {
  width: 400px;
  margin: 40px auto;
  background-color: var(--color-white-1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(150, 160, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
}

.form > h1 {
  text-align: center;
  color: var(--color-blue-1);
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form > button {
  margin-block-start: 40px;
}

.error {
  background-color: var(--color-red-1);
  padding: 8px;
  border-radius: 8px;
  margin-block-start: 40px;
  width: 200px;
  text-align: center;
  margin: auto;
  box-shadow: rgba(150, 160, 165, 0.2) 0px 8px 24px;
}
